---
import { uiCopy } from "../data/i18n";

interface Props {
  href: string;
  labelTr?: string;
  labelEn?: string;
  class?: string;
}

const {
  href,
  labelTr = uiCopy.tr.scrollDown,
  labelEn = uiCopy.en.scrollDown,
  class: className
} = Astro.props;
---

<a
  class:list={["scroll-cue", className]}
  href={href}
  aria-label={labelTr}
  data-locale-label-tr={labelTr}
  data-locale-label-en={labelEn}
>
  <span class="scroll-cue__arrow" aria-hidden="true">
    <svg viewBox="0 0 24 24" aria-hidden="true">
      <path d="M12 5.5v12" />
      <path d="M7.5 13 12 17.5 16.5 13" />
    </svg>
  </span>
</a>
